{{#each files}}
<form action="/folder/{{../openedFolder}}" method="post">
    <button id="file-container" class="col" type="submit">
        <img src="/img/file.png" width="200px">
        <br>
        <p name="filename" id="filename">{{this.filename}}</p>
    </button>
</form>
{{/each}}