{{#each folders}}
<div id="file-container" class="col" onclick="files('{{this.folderName}}')">
    <img src="/img/folder.png" width="200px">
    <br>
    <p>{{this.folderName}}</p></a>
</div>
{{/each}}